.Main {
    text-align: center;
    color: whitesmoke;
    margin-bottom: 2rem;
    h2{
        margin-bottom: 1rem;
        margin-top: 1rem;

        text-decoration: underline;
    }

    dt {
        font-size: 1.3rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: silver;
        font-weight: bold;
    }

    dd {
        border: blue solid ;
        padding: 10px;
        margin-left: 500px;
        margin-right: 500px;
    }
}